<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeComment">
	<select id="getList" parameterType="noticeCommentDto" resultType="noticeCommentDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, writer, content, target_id, ref_group,
					comment_group, deleted, notice_board_comment.regdate, profile
				FROM notice_board_comment
		 		INNER JOIN users
				ON notice_board_comment.writer=users.id
				WHERE ref_group=#{ref_group}
				ORDER BY comment_group ASC, num ASC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}	
	</select>
	<update id="delete" parameterType="int">
		UPDATE notice_board_comment
		SET deleted='yes'
		WHERE num=#{num}
	</update>
	<insert id="insert" parameterType="noticeCommentDto">
		INSERT INTO notice_board_comment
		(num, writer, content, target_id, ref_group, comment_group, regdate)
		VALUES(#{num}, #{writer}, #{content}, #{target_id}, #{ref_group},
			#{comment_group}, SYSDATE)
	</insert>
	<select id="getSequence" resultType="int">
		SELECT notice_board_comment_seq.NEXTVAL
		FROM DUAL
	</select>
	<update id="update" parameterType="noticeCommentDto">
		UPDATE notice_board_comment
		SET content=#{content}
		WHERE num=#{num}
	</update>
	<select id="getData" parameterType="int" resultType="noticeCommentDto">
		SELECT num,writer,content,ref_group,comment_group,deleted,regdate
		FROM notice_board_comment
		WHERE num=#{num}
	</select>
	<select id="getCount" parameterType="int" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM notice_board_comment
		WHERE ref_group=#{ref_group}
	</select>	
</mapper>






